/*============================
    root variables 
=============================*/
:root{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --border-radius: 4px;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}

/*============================
    Dom styles
=============================*/
    html *{
        box-sizing:border-box;
    }
    body{
        background-color:var(--navy);
        color: var(--slate);
        font-family: var(--font-sans);
        margin:0px;
    }

    a {
        text-decoration:none;
        color:inherit;
        transition:var(--transition);
        cursor:pointer;
        text-decoration-skip-ink: auto;
        display:inline-block;
    }

    a:hover{
        color: var(--green);
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0px 0px 10px;
        font-weight: 600;
        color: var(--lightest-slate);
        line-height: 1.1;
    }
    /*============================
    shared styles
    =============================*/
    section {
        padding: 60px 0px;
    }
    .numbered-heading{
        display: flex;
        -moz-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        width: 100%;
        font-size: clamp(26px,5vw,var(--fz-heading));
        white-space: nowrap;
    }

    .numbered-heading:before{
        margin-bottom: -3px;
        margin-right: 5px;
        position: relative;
        counter-increment: section 1;
        content: "0" counter(section) ".";
        color: var(--green);
        font-family: var(--font-mono);
        font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
        font-weight: 400;
    }

    .numbered-heading.overline{
        display: block;
        margin-bottom: 20px;
        color: var(--green);
        font-family: var(--font-mono);
        font-size: var(--fz-md);
        font-weight: 400;
    }

    .overline:before{
        bottom: 0px;
        font-size: var(--fz-sm);    
    }

    @media screen and (min-width:480px){
        section {
            padding: 80px 0px;
        }
    }

    @media screen and (min-width:768px){
        .numbered-heading:before{
            bottom: 4px;
            margin-right: 10px;
        }

        section{
            margin: 0px auto;
            padding: 100px 0px;
            max-width: 1000px;
        }
    }


    /*============================
    hero styles
    =============================*/
    .email-link{
        color: var(--green);
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: var(--border-radius);
        padding: 1.25rem 1.75rem;
        font-size: var(--fz-sm);
        font-family: var(--font-mono);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        margin-top: 50px;
    }

    .hero-secion{
        min-height: 100vh;
        padding: 0px;
        display:flex;
        display:-webkit-flex;
        justify-content:center;
        -webkit-justify-content:center;
        flex-direction:column;
        -webkit-flex-direction:column;
        align-items:flex-start;
        -webkit-align-items:flex-start;
    }

    .hero-container h1{
        margin: 0px 0px 20px 2px;
        color: var(--green);
        font-family: var(--font-mono);
        font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
        font-weight: 400;
    }

    .hero-container h3{
        margin-top: 10px;
        color: var(--slate);
        line-height: 0.9;
    }

    .big-heading {
        margin: 0px;
        margin-top: 0px;
        font-size: clamp(40px, 8vw, 80px);
    }

    @media screen and (min-width:768px){
        .hero-container h1{
            margin: 0px 0px 30px 4px;
        }
        
    }

/*============================
    About styles 
=============================*/

.about-container .skills-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: outside none none;
}

.about-container .skills-list li:before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.about-container .skills-list li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.about-pic-container{
    margin: 50px auto 0px;
    width: 70%;
    position: relative;
    max-width: 300px;
}

.about-pic-wrapper{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--green);
}

.about-pic-wrapper:hover{
    background: transparent none repeat scroll 0% 0%;
    outline: currentcolor none 0px;
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.about-pic-wrapper:before{
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.about-pic-wrapper:after{
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
}

.about-pic-wrapper:before, .about-pic-wrapper:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.about-pic-container img{
    max-width: 100%;
    display: block;
    position: static;
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
}

.about-pic-container img:hover{
    filter: none;
    mix-blend-mode: normal;
}

.img-wrapper{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

/*============================
    main content styles 
=============================*/
.main-content-container{
    padding:0px 25px;
    width:100vw;
}
@media screen and (min-width:768px){
    .main-content-container{
        padding:0px 100px;
        width:100%;
        max-width:1200px;
    }
}


/*============================
    right sidebar styles 
=============================*/
.right-sidebar-container{
    position:fixed;
    right:20px;
    bottom:0px;
    display:none;
    z-index: 10;
    width:40px;
}
.sidebar-email{
    writing-mode:vertical-rl;
}

@media screen and (min-width:768px){
    .right-sidebar-container{
        display:block; 
        display:flex;
        display:-webkit-flex;
        flex-direction:column;
        -webkit-flex-direction:column;
        align-items:center;
        -webkit-align-items:center;

    }

    .right-sidebar-container a{
        margin: 20px auto;
        padding: 10px;
        font-family: var(--font-mono);
        font-size: var(--fz-xxs);
        line-height: var(--fz-lg);
        letter-spacing: 0.1em;
        writing-mode: vertical-rl;
    }

    .sidebar-email{
        color:var(--slate)
    }

    .sidebar-email:hover{
        color:var(--green);
        transform: translateY(-3px);
    }

    .right-sidebar-container:after{
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: var(--light-slate);
    }
}
/*============================
    Left sidebar styles 
=============================*/
.left-sidebar-container{
    position:fixed;
    left:20px;
    bottom:0px;
    display:none;
}

@media screen and (min-width:768px){
    .left-sidebar-container{
        display:block;
    }

    .left-sidebar-container ul{
        margin:0px;
        padding:0;
    }

    .left-sidebar-container li{
        list-style: outside none none;
    }

    .left-sidebar-container li:last-child{
        margin-bottom:20px;
    }

    .left-sidebar-container ul:after{
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: var(--light-slate);
    }

    .left-sidebar-container li a {
        padding: 10px;
        display:inline-block;
    }

    .left-sidebar-container li a:hover {
        transform: translateY(-3px);
        color:var(--green);
    }
}
/*============================
    Contact styles 
=============================*/

.contact-section{
    margin: 0px auto 50px;
    max-width: 600px;
    
    text-align: center;
}

@media screen and (min-width:768px){
    .contact-section{
        margin: 0px auto 100px;
    }
}

/*============================
    Footer styles 
=============================*/
.Footer-socials-container{
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0px auto 10px;
    color: var(--light-slate);
}

.Footer-socials-container ul{
    display: flex;
    display:-webkit-flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-justify-content:center;
    -moz-box-align: center;
    -webkit-align-items:center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: outside none none;
}

.Footer-socials-container ul a{
    padding: 10px;
}

.Footer-container{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}